<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A site to help track, find, and reconnect missing animals with their families.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/materialize.min.css" media="screen,projection">
	<link type="text/css" rel="stylesheet" href="/style.css">
	<title>Stray Tracker</title>
</head>
<body>

	<div class="container">
		<div class="valign-wrapper row">
			<h1 class="valign center-align col s12">Hello World</h1>
		</div>
	</div>

	<script type="text/javascript" src="/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/materialize.min.js"></script>
	<script type="text/javascript" src="/app.js"></script>
</body>
</html>